.DS_Store
node_modules
**/node_modules/
.vscode

# React Router
/.react-router/

# Build artifacts
build
dist
/**/build/
/**/dist/

# Bundle Analyzer
stats.html
**/stats.html

# Env vars
.env
.env.local
**/.env
**/.env.local
